body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: right;
}

ul {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

ul>a,
ul>img {
    padding: 0px 8px;
}

ul>img:hover {
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 gainsboro;
}

.main {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.input-container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 44px;
    border: 1px solid gainsboro;
    border-radius: 20px;
    margin-top: 20px;
    flex-wrap: wrap;

}

.input-container>input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: large;
    flex-wrap: wrap;
}

.input-container>img {
    padding: 10px 20px;
}

.input-container:hover {
    box-shadow: 0 0 10px 0 gainsboro;
}

.main2 {
    margin-top: 40px;
}

.mybutton {
    margin: 0 10px;
    padding: 10px;
    background-color: rgba(233, 225, 225, 0.404);
    border: none;
}

.mybutton:hover {
    cursor: pointer;
    border: 0.5px solid gainsboro;
    box-shadow: 0 0 10 0 rgb(161, 155, 155);
}

.lang {
    text-align: center;
    margin-top: 20px;

}

p>a {
    padding: 4px;
    color: rgb(44, 44, 148);

}

.country {
    background-color: rgba(220, 220, 220, 0.368);
    margin-top: 90px;
    padding: 12px;
    color: rgba(66, 64, 64, 0.648);
    font-size: medium;
    border-bottom: 0.5px solid gainsboro;
}

.footernav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(220, 220, 220, 0.368);
    padding: 7px;
    font-size: small;
    flex-wrap: wrap;
}

.footerbar {
    padding-left: 5px;
}

.footerbar>a {
    color: rgba(66, 64, 64, 0.648);

}
